.section5 {
  
    margin-top: 50px;
    min-height: 90vh;
    background: linear-gradient(#00000000 70%), url("../img/gmap.jpg") bottom;
    background-repeat: no-repeat;
    background-position: center 0%; /* Ajustez la valeur en pourcentage pour la position verticale */
  
  
  


  .discour {
    width: 70%;
    height: 350px;
    background: $white1;
    margin: auto;
    position: relative;
    @include alignChildren(space-evenly);
    flex-direction: column;
    gap: 20px;
    padding: 60px;
    img {
      width: 90px;
      border-radius: 50px;
      position: absolute;
      top: -50px;
    }
    p {
      word-spacing: 2px;
      line-height: 2rem;
      font-weight: 500;
      color: $black;
    }
    div{
        padding-top: 40px;
        
        .name{
          font-weight: 600;
          font-family: $font3;
          letter-spacing: 1px;
          font-size: 1.2rem;
          

        }
        .chef{
          color: $color1;
        }

    }
  }
}
